spring:
  application:
    name: gateway
  # --- REDIS AYARLARI ---
  data:
    redis:
      host: localhost
      port: 6379
      password: Neominal

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:8189/realms/AuthServer
          jwk-set-uri: http://localhost:8189/realms/AuthServer/protocol/openid-connect/certs

  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: orderClient
              uri: lb://order-service
              predicates:
                - Path=/order-service/api/v1/**
              filters:
                - StripPrefix=1
            - id: productClient
              uri: lb://product-service
              predicates:
                  - Path=/product-service/api/v1/**
              filters:
                  - StripPrefix=1
                  # ---- RATE LIMITER (REDIS) ----
                  - name: RequestRateLimiter
                    args:
                      redis-rate-limiter.requestedTokens: 1 # Her istek 1 token tüketir
                      redis-rate-limiter.replenishRate: 1 # Kullanıcı Üst üste sadece 1 istek yapabilir, Saniyede 1 adet yeni istek hakkı verilir.
                      redis-rate-limiter.burstCapacity: 1 # Her saniye 1 tane yeni istek hakkı kazanır, biriktirebilir.”
                      key-resolver: "#{@ipKeyResolver}"
                      # Bir kullanıcı aynı (IP)'den saniyede en fazla 1 istek yapabilir ve
                      # arka arkaya birden fazla istek gönderemez.
                  # ---- CIRCUIT BREAKER ----
                  - name: CircuitBreaker
                    args:
                      name: productServiceBreaker
                      fallbackUri: forward:/fallback/product-service
                      statusCodes:
                        - "500"

# Resilience4j Configuration
resilience4j:
  circuitbreaker:
    instances:
      productServiceBreaker:
        registerHealthIndicator: true
        slidingWindowSize: 3              # Sadece son 3 isteği hafızada tut
        minimumNumberOfCalls: 3            # Hesaplama yapmak için en az 3 istek gelmesini bekle
        permittedNumberOfCallsInHalfOpenState: 2 # 30 saniye bitince HalfOpen State 2 isteğe izin ver
        automaticTransitionFromOpenToHalfOpenEnabled: true
        waitDurationInOpenState: 30s        # # Devre açıldıktan sonra 30 saniye boyunca KAPALI kal (Kimseyi geçirme)
        #failureRateThreshold: 50           # Open circuit if 50% of calls fail
        recordExceptions:                   # Belirli hata tipleri circuitBraker devreye al
          - java.lang.Throwable
          - java.util.concurrent.TimeoutException
          - java.io.IOException

  # Time Limiter (Timeout configuration)
  timelimiter:
    instances:
      productServiceBreaker:
        timeoutDuration: 2s # Throw TimeoutException if request takes longer than 2s

server:
  port: 8083

management:
  zipkin:
    tracing:
      endpoint: http://localhost:9411/api/v2/spans
  endpoints:
    web:
      exposure:
        include: "*"
  tracing:
    sampling:
      probability: 1.0


# http://localhost:8083/actuator/circuitbreakers

# Rate Limitter Postman Collection Runner ile test case

# ---------------- LOGGING ----------------
logging:
  level:
    org.springframework.cloud.gateway: INFO
    org.springframework.data.redis: INFO
    io.github.resilience4j: INFO



