spring:
  application:
    name: gateway

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:8180/realms/AuthServer
          jwk-set-uri: http://localhost:8180/realms/AuthServer/protocol/openid-connect/certs

  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: orderClient
              uri: lb://order-service
              predicates:
                - Path=/order-service/api/v1/**
              filters:
                - StripPrefix=1

            - id: productClient
              uri: lb://product-service
              predicates:
                  - Path=/product-service/api/v1/**
              filters:
                  - StripPrefix=1

server:
  port: 8083

