spring:
  application:
    name: gateway

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:8180/realms/AuthServer
          jwk-set-uri: http://localhost:8180/realms/AuthServer/protocol/openid-connect/certs

  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: orderClient
              uri: lb://order-service
              predicates:
                - Path=/order-service/api/v1/**
              filters:
                - StripPrefix=1
            - id: productClient
              uri: lb://product-service
              predicates:
                  - Path=/product-service/api/v1/**
              filters:
                  - StripPrefix=1
                  - name: CircuitBreaker
                    args:
                      name: productServiceBreaker
                      fallbackUri: forward:/fallback/product-service
                      statusCodes:
                        - "500"

# Resilience4j Configuration
resilience4j:
  circuitbreaker:
    instances:
      productServiceBreaker:
        registerHealthIndicator: true
        slidingWindowSize: 3              # Sadece son 3 isteği hafızada tut
        minimumNumberOfCalls: 3            # Hesaplama yapmak için en az 3 istek gelmesini bekle
        permittedNumberOfCallsInHalfOpenState: 2 # 30 saniye bitince HalfOpen State 2 isteğe izin ver
        automaticTransitionFromOpenToHalfOpenEnabled: true
        waitDurationInOpenState: 30s        # # Devre açıldıktan sonra 30 saniye boyunca KAPALI kal (Kimseyi geçirme)
        #failureRateThreshold: 50           # Open circuit if 50% of calls fail
        recordExceptions:                   # Belirli hata tipleri circuitBraker devreye al
          - java.lang.Throwable
          - java.util.concurrent.TimeoutException
          - java.io.IOException

  # Time Limiter (Timeout configuration)
  timelimiter:
    instances:
      productServiceBreaker:
        timeoutDuration: 2s # Throw TimeoutException if request takes longer than 2s

server:
  port: 8083

management:
  endpoints:
    web:
      exposure:
        include: "*"


# http://localhost:8083/actuator/circuitbreakers