version: '3.8'

services:
  redis:
    image: redis:7.4
    container_name: redis
    restart: always
    command: ["redis-server", "--requirepass", "Neominal"]
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data

  redisinsight:
    image: redis/redisinsight:latest
    container_name: redisinsight
    restart: always
    ports:
      - "5540:5540"
    depends_on:
      - redis

volumes:
  redis_data:
    driver: local
